*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    }
    
    p{color:#fff;}
    
    .container-fluid{
    width:100%;
    }
    
    
    .container{
    max-width:1080px;
    width:100%;
    margin:auto;
    padding:32px;
    }
    
    .center{text-align:center;}
    .black{background-color:#252525;}
    
    .parallax{
    height:500px;
    background-image:url('img/Marc Roca.jpg');
    background-size:cover;
    background-attachment: fixed;
    }
    .nav{
    display:grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    background: aliceblue;
    font-family: sans-serif;
    position:fixed;
    top:0;
    width:100%;
    }
    .nav .logo{
    font-size: 24px;
    font-weight:black;
    }
    .nav .barnav{
    display:grid;
    grid-template-columns: repeat(4,auto);
    margin-right: 30px;
    }
    .nav .barnav div{
    padding: 10px 20px;
    }
    .nav .barnav div:hover{
    cursor: pointer;
    background:#CDDC39;
    }